
.favorite-store {
  /* Add shadows to create the "card" effect */
  display: inline-block;
  background-color: #fefefe;
  padding: 10px;
  margin: 10px;
  border: 1px solid #aaaaaa;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.favorite-store:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.favorite-store button{
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid transparent;
    border-radius: 5px;
   
}

.favorite-store button:hover{
  border: 2px solid darkgreen;
}